:root {
  /* ## Colors */

  --yellow: 47 88% 63%;
  --white: 0 0% 100%;
  --gray-500: 0 0% 42%;
  --gray-950: 0 0% 7%;
}
@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: hsl(var(--yellow));
  color: hsl(var(--gray-500));
}
.card {
  display: grid;
  justify-items: start;
  max-width: 350px;
  gap: 0.5rem;
  background-color: hsl(var(--white));
  padding: 1.3rem;
  border-radius: 1rem;
  border: 1px solid hsl(var(--gray-500));
  box-shadow: 7px 7px 0 hsl(var(--gray-950));
  margin-bottom: 1rem;
}
.card__hero {
  padding-bottom: 0.5rem;
}
.card__hero img {
  border-radius: 0.6rem;
}
.card-category {
  color: hsl(var(--gray-950));
  font-weight: 800;
  font-size: 0.875rem;
  background-color: hsl(var(--yellow));
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}
.card-date {
  font-size: 0.875rem;
  color: hsl(var(--gray-950));
}
.card-title {
  font-size: 1.3rem;
  font-weight: 800;
  color: hsl(var(--gray-950));
}
.card-title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.card-title a:hover {
  color: hsl(var(--yellow));
}
.card-text {
  font-size: 0.9rem;
  line-height: 1.3;
  padding-bottom: 1rem;
}
.card-author {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.875rem;
  color: hsl(var(--gray-950));
  font-weight: 800;
}
.card-author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
